html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
}
body {
    font-family: TT Lakes, sans-serif;
}

.mobile-pop__menu {
    display: flex;
    background-color: white;
    max-width: 360px;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 320px) {
    .mobile-pop__menu {
        width: 320px;
    }
}

@media (min-width: 768px) {
    .mobile-pop__menu {
        position: absolute;
        left: 0;
        height: 1024px;
        width: 360px;
        border-right: 1px solid #D9FFF5;
        box-shadow: 16px 0 52px rgb(14 24 80 / 20%), -2px 0 4px rgb(69 79 126 / 2%);
    }
}

.mobile-button__logo {
    flex: 1 1 auto;
    margin-left: 16px;
}

.mobile-button__button--close {
    background-image: url("src/close.svg");
    background-repeat: no-repeat;
    background-color: transparent;
}

.mobile-button__button--search {
    background-image: url("src/search.svg");
    background-repeat: no-repeat;
    background-color: transparent;
}

.mobile-button__logo:hover {
    transform: scale(1.1);
}

.mobile-pop__list {
    flex: 1 1 auto;
}

.mobile-pop__logo {
    height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}

.mobile-button__button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer;
}

.mobile-button__button:hover {
    transform: scale(1.1);
}

.mobile-pop__list--ul {
    padding: 0;
    list-style: none;
    margin-top: 30px;
}

.mobile-pop__list-item {
    padding-bottom: 32px;
    letter-spacing: -0.2px;
}

.mobile-pop__list-item a {
    margin-left: 24px;
}

.mobile-pop__list-link {
    text-decoration: none;
    color: #1B1C21;
}

.mobile-pop__list-item:hover::before {
    content: "";
    width: 4px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    background-color: #41F6D7;
    position: absolute;
}

.mobile-pop__list-link:hover {
    color: #7E7E82;
}

.mobile-pop__list-item {
    position: relative;
}

.mobile-pop__footer {
    margin-left: 24px;
}

.mobile-button__button--footer {
    margin-right: 16px;
}

.mobile-pop__footer-address--link {
    text-decoration: none;
    color: #1B1C21;
}
.mobile-pop__footer-address--link:last-child {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.mobile-pop__footer-number {
    margin-top: 16px;
}

.mobile-pop__footer-lang {
    margin-bottom: 32px;
}

.mobile-pop__footer-lang__btn {
    border: none;
    background-color: white;
    margin-top: 40px;
    cursor: pointer;
}

.mobile-pop__footer-address--link:hover {
    text-decoration: underline;
}
.mobile-pop__footer-lang__btn:first-child {
    color: #7E7E82;
}

.mobile-pop__footer-lang__btn:hover {
    transform: scale(1.1);
}
